
/* 点语法，表示类选择器 */
.index {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 32px;
    color: #0000ff;
}

.view {
    background-color: #00ffff;
    display: flex;
    padding-left: 20px;
}

.text {
    background-color: #f0fff0;
    padding: 20px;
    font-size: 32px;
    color: #0000ff;
}
